<!DOCTYPE html>
<html>
<head>
	<title>virus_simulation</title>
</head>
<body>
<!-- <center> -->
	<h1>Simulating the Spread of Disease and Virus Population Dynamics</h1>
	<form action=/without_drug method="GET">
		numViruses: <input type="text" name="numViruses" value="1" required>
		<br>
		maxPop: <input type="text" name="maxPop" value="1" required>
		<br>
		maxBirthProb: <input type="text" name="maxBirthProb" value="1" required>
		<br>
		clearProb: <input type="text" name="clearProb" value="1" required>
		<br>
		numTrials: <input type="text" name="numTrials" value="1" required>
		<br>
		<input type="submit" value="Simulate without drug" value="1" required>
	</form>
	<!-- <h2><a href="/with_drug">Simulation With Drug</a></h2> -->
<!-- </center> -->
</body>
</html>